databases:
  - name: dbs_production
    plan: Basic-1gb
    databaseName: dbs_production
    user: digisig

services:
  - type: web
    plan: starter
    name: sealquery
    runtime: python
    buildCommand: "./build.sh"
    startCommand: "python -m gunicorn sealquery.asgi:application -k uvicorn.workers.UvicornWorker --max-requests 1000 --max-requests-jitter 50"
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: dbs_production
          property: connectionString
      - key: SECRET_KEY
        generateValue: true
      - key: WEB_CONCURRENCY
        value: 2