{% extends "digisig/base.html" %}

{% load static %}

{% block content %}

<style>

#search1 {
    background-image: url({% static 'digisig/images/IMGP9307_3b.jpg' %});
}

#search2 {
  background-image: url({% static 'digisig/images/IMGP9870_v3.jpg' %});
}

#search3 {
  background-image: url({% static 'digisig/images/SBH1266_v1.jpg' %});
}

</style>


    <div class="home-banner"></div> 
    <div class="sidepanel-left"></div>
    <div class="sidepanel-right"></div>

    <div class="searchoptions" id="search1"><a href="{% url 'search' searchtype='seals' %}">Search Seals</a></div>
    <div class="searchoptions" id="search2"><a href="{% url 'search' searchtype='sealdescriptions' %}">Search Seal Descriptions</a></div>
    <div class="searchoptions" id="search3"><a href="{% url 'search' searchtype='actors' %}">Search Actors</a></div>

    <div id="digisigstats" style="color:black;">
    <h2>Logout</h2>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>

    </div>

    <div id="digisigblock1"></div>
    <div id="digisigtextblock1">

    </div>

    <div id="digisigtextblock2">
            <h2></h2> 
        <div class="youtube-container">
            <iframe class="youtube-iframe" src="https://www.youtube.com/embed/fAmMXzYXaeU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

{% endblock %}


    