{% extends "witness/base.html" %}

{% load static %}

{% block content %}

<style>

#search1 {
    background-image: url({% static 'images/parish_map.png' %});
}

#search2 {
    background-image: url({% static 'images/SBH1266_v1.jpg' %});
    background-size: cover;
    background-repeat: no-repeat; /* Optional, but recommended */
    background-position: right; /* Optional, but recommended */
}

</style>

    <div class="home-banner"></div> 
    <div class="sidepanel-left"></div>
    <div class="sidepanel-right"></div>

    <div class="searchoptions" id="search1"><a href="{% url 'search' searchtype='parish' %}">Search Parish</a></div>
    <div class="searchoptions" id="search2"><a href="{% url 'search' searchtype='person' %}">Search Person</a></div>

{% endblock %}